.AcumularMilhas {
    width: 100%;
    background-color: var(--white);
}

.AcumularMilhasContainer {
    width: 1280px;
    margin: 0 auto;

    text-align: center;
}

.AcumularMilhasTexto {
    width: 100%;
    margin: 0 auto 50px;
    padding-top: 41px;

    text-align: center;

    display: block;
}

.AcumularMilhasTexto h3 {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    text-align: center;

    color:var(--secundary-color);
}

.AcumularMilhasTexto p {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;

    color: var(--third-color);
}

.AcumularMilhasIcons {
    width: 100%;
    margin-top: 390px;
    position: relative;
}

.AcumularMilhasIconContainer {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.AcumularMilhasIconContainerPadrao, .AcumularMilhasIconContainerHover {
    display: flex;
}

.AcumularMilhasIconContainerPadrao {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.AcumularMilhasIconPadrao, .AcumularMilhasIconHover  {
    display: block;

    width: 100%;
    height: 100%;
}

.AcumularMilhasIconPadrao:hover {
    opacity: 0;
}

.AcumularMilhasIconHover {
    position: relative;
    opacity: 100;
    z-index: 0;
    margin-bottom: 40px;
}
