.GanheMilhas {
    width: 100%;
    height: 575px;
    margin: 0 auto;
    background: var(--secundary-color) url("../../../public/img/LinhaAviao02.png") no-repeat;
    background-size: 95% 90%;
    background-position: right;
    background-position-y: -40px;
    
}

.GanheMilhasContainer {
    max-width: 1280px;
    height: 575px;
    margin: 0 auto;
}


.GanheMilhasTema {
    width: 100%;
}

.GanheMilhasTema h3 {
    padding-top: 50px;

    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    text-align: center;

    color:var(--primary-color);

}

.GanheMilhasExplicacao {
    width: 1250px;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;

}

.GanheMilhasComo {
    width: 400px;

    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    letter-spacing: -0.41px;

    color: var(--white);
}

.GanheMilhasComo p {
    margin-top: 173px;
}

.GanheMilhasButton{
    width: 390px;
    height: 72px;
    
    margin: 38px 0 0;

}

.GanheMilhasButton button {
    width: 100%;
    height: 100%;

    padding: 12px 36px;

    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: var(--white);

    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.GanheMilhasImagem {
    width: 757px;
    height: 382px;

    margin: 0 auto 68px ;
}

